@tailwind base;
@tailwind components;
@tailwind utilities;


.no-tailwind * {
    all: revert;
    line-height: 2;
    font-size: 18px;
    max-width: 100%;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

[x-cloak] {
    display: none !important;
}

:root {
    --color-light: white;
    --color-dark: #1f1f1f;
}

.dark {
    --color-light: #1f1f1f;
    --color-dark: white;
}

.content-x-padding {
    @apply px-[1.874rem]
}
