@tailwind base;
@tailwind components;
@tailwind utilities;


.no-tailwind * {
    all: revert;
    line-height: 2;
    font-size: 18px;
    max-width: 100%;
}

.vertical-text {
    writing-mode: tb;
    transform: rotate(180deg);
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    @apply text-darkColor;
}

[x-cloak] {
    display: none !important;
}

:root {
    --color-light: white;
    --color-dark: #1f1f1f;
    --color-accent: #ccdbe1;
}

.dark {
    --color-light: #1f1f1f;
    --color-dark: white;
    --color-accent: #ccdbe1;
    
}

.content-x-padding {
    @apply px-[1.875rem]
}


/*Home Css*/
.nav-padding {
    @apply py-5;
}
