@import "components/image-comparison.css";
@import "components/button-animation.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.rounded-inherit {
    border-radius: inherit;
}

.vertical-text {
    writing-mode: tb;
    transform: rotate(180deg);
}

:lang(ar) body {
    font-family: "Alexandria", serif;
}

:lang(en) body {
    font-family: "Inter", sans-serif;
}

body {
    font-optical-sizing: auto;

    @apply text-darkColor;

}

[x-cloak] {
    display: none !important;
}

:root {
    --color-light: white;
    --color-dark: #1f1f1f;
    --color-accent: #ccdbe1;
    --footer-bg: #292929;
    --color-secondary: #d7e6be;
    --slate-dark: #333F43;
}

.dark {
    --color-light: #1f1f1f;
    --color-dark: white;
    --color-accent: #ccdbe1;

}

.content-x-padding {
    @apply px-4 lg:px-[3.125rem]
}

.padding-from-side-menu {
    @apply px-4 lg:px-[5.3rem]
}


.no-tailwind * {
    all: revert;
    max-width: 100%;
    font-family: "Inter", sans-serif;
}

.no-tailwind ul, .no-tailwind ol {
    padding: 0;
    @apply flex gap-y-[7px] flex-col

}

.no-tailwind.extra ul, .no-tailwind.extra ol {
    -moz-padding-start: 30px;
    -webkit-padding-start: 30px;
    @apply flex gap-y-[9px] flex-col

}


.no-tailwind.post ul, .no-tailwind.post ol {
    padding: revert;
    @apply flex gap-y-[7px] flex-col

}


.no-tailwind h2 {
    font-size: 24px !important;
    font-weight: 600 !important;
}

.no-tailwind h2 * {
    font-size: 24px !important;
    font-weight: 600 !important;
}

.no-tailwind h3 {
    font-size: 24px !important;
    font-weight: 500 !important;
}

.no-tailwind h3 * {
    font-size: 24px !important;
    font-weight: 500 !important;
}

.swiper-pagination-bullet-active {
    background: #000 !important;
    width: 6px !important;
    height: 6px !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
}

.card-overlay:before {
    content: '';
    display: block;
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333F43;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 5;
}

.full-rounded.card-overlay:before {
    border-radius: 20px;
}

.card-opacity-10.card-overlay:before {
    border-radius: 20px;
    opacity: 0.2;

}

.headline-font {
    font-weight: 800;
    line-height: 48px !important;
    @apply text-4xl lg:text-[2.75rem]
}


/*Nav Styles*/
.menu-overlay {
    opacity: 0;
    display: none;
}

.menu-panel {
    will-change: transform;
    transform: translateY(100%);
}

.menu-items li {
    will-change: transform, opacity;
}

/* Hide scrollbar but allow scrolling */
.menu-panel {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.menu-panel::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

/* Prevent body scroll when menu is open */
body.menu-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

/*Home Css*/
.nav-padding {
    @apply py-5;
}

.dark-35-tl-tr:after,
.dark-35-tr-tl:before {
    content: "";
    position: absolute;
    background-color: transparent;
    height: 35px;
    width: 35px;
}

.dark-35-tl-tr:after {
    top: 0;
    right: -35px;
    border-top-left-radius: 1.4rem;
    box-shadow: -15px -14px 0 var(--color-dark);
}

.dark-35-tr-tl:before {
    top: 0;
    left: -35px;
    border-top-right-radius: 1.4rem;
    box-shadow: 10px -7px 0 var(--color-dark);
}

@keyframes drawUnderline {
    0% {
        stroke-dashoffset: 500;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.animated-underline path {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: drawUnderline 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}


.card-hover-trigger .text-underline {
    position: relative;
    display: inline-block;
}


.card-hover-trigger .text-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -4px;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
}

.text-underline-black::after {
    background-color: black;
}

.text-underline-white::after {
    background-color: white;

}

.card-hover-trigger:hover .text-underline::after {
    transform: scaleX(1);
    transform-origin: left;
}

.card-hover-trigger:hover .arrow {
    transform: rotate(90deg);
    transition: transform 0.3s ease-out;

}

.card-hover-trigger:not(:hover) .text-underline::after {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-out;
}

.rating-star:before {
    content: "\2605\2605\2605\2605\2605";
    background: linear-gradient(calc(90deg), rgb(245 158 11) 100%, rgb(23 23 23 / .15) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.gradient-text {

    background: linear-gradient(to right, #4F6359 0%, #A0C9B5 50%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.black-text-stroke {
    color: white;
    text-shadow: 1px 1px var(--color-dark),
    -1px -1px var(--color-dark);
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@supports (-webkit-text-stroke: 1px var(--color-dark)) {
    .black-text-stroke {
        color: transparent;
        -webkit-text-stroke: 1px var(--color-dark);
        text-shadow: none;
        font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Add this to your app.css */
#nav {
    transition: all 0.5s ease-in-out;
}

#nav.fixed {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.nav-item-transition {
    transition: transform .5s cubic-bezier(.3, 1, .3, 1);
}

.nav-item-transition-opacity {
    transition: .5s cubic-bezier(.3, 1, .3, 1);
    transition-property: transform, opacity;
}

.nav-item:hover .nav-item-transition-opacity {
    opacity: 0;
    transform: translateY(-10%) scale(.6);
}

/* Modal Container */
.modal-container {
    transform: translateX(100%);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}


.post-width {
    @apply lg:w-[min(100%,1140px)];
}


.loader, .loader:before, .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
}

.loader {
    color: #948c8c;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@keyframes bblFadInOut {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em
    }
    40% {
        box-shadow: 0 2.5em 0 0
    }
}

