
.button-on {
    animation: button-in 0.5s steps(30) forwards;
}

.button-out {
    animation: button-out 0.5s cubic-bezier(.6, 0, .4, 1);
}

@keyframes button-out {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-76%);
    }
}

@keyframes button-in {
    from {
        transform: translateY(76%);
    }
    to {
        transform: translateY(0);
    }
}
